table {
    width: 70%;
    border: 1px solid black;
    text-align: left;
}

th {
    height: 50px;
    font-size: 11pt;
}

td {
    font-size: .75em;
    text-align: left;
}


/*#icons {*/
    /*position: fixed;*/
    /*bottom: 150px;*/
    /*right: 150px;*/
    /*width: .25em;*/
    /*height: .25em;*/
/*}*/

#facebook {
    position: fixed;
    /*width: 20px;*/
    /*height: 50px;*/
    bottom: 20px;
    right: 30px;
}

#twitter {
    position: fixed;
    /*width: 20px;*/
    /*height: 20px;*/
    bottom: 20px;
    right: 90px;
}

#rateprofessor {
    position: fixed;
    bottom: 30px;
    right: 155px;
}

#title {
    text-align: center;
    /*padding: 5px;*/
    /*border: 3px black;*/
    line-height: 30%;
    font-weight: bold;
    font-size: 2em;
    font-family: Verdana, 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

body    {
    background-color: #F5BD6E;
}

select {
    width: 150px;
}

#drop-down {
    font-family: Verdana, 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    float: left;
    padding-top: 25px;
    padding-left: 60px;

}

#oxylogo    {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 200px;
    transform: translate(-50%, -50%);
}

#secret_image {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 350px;
    transform: translate(-50%, -50%);
    vertical_align: middle;
}

#oxylogo:hover {
    background-color: black;
}

