table {
    width: 70%;
    border: 1px solid black;
    text-align: left;
}

th {
    height: 50px;
    font-size: 11pt;
}

td {
    font-size: .75em;
    text-align: left;
}

#title {
    font-size: 225%;
    font-family: "Arial Black", Gadget, sans-serif;
}

#social-media-icons {
    float: right;
}

body    {
    background-color: #F5BD6E;
}

#oxylogo    {
    display: block;
    margin: 0 auto;
}

select {
    width: 150px;
}

#dropdowntext   {
    text-align: center;
}

#button {
    text-align: center;
}