<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!--I am looping through my "its_a_match" list which only includes
instances of courses that fit both the year and the season selections.
Because they are instances, I can access each aspect of the courses by
doing class.(attribute)-->
    {% for class in its_a_match %}
    <p>Year: {{ class.year }}
    Season: {{ class.season }}
    Department: {{ class.department }}
    Number: {{ class.number }}
    Section: {{ class.section }}
    Title: {{ class.title }}
    Units: {{ class.units }}
    Instructors: {{ class.instructors }}
    Meetings: {{ class.meetings }}
    Core: {{ class.core }}
    Seats: {{ class.seats }}
    Enrolled: {{ class.enrolled }}
    Reserved: {{ class.reserved }}
    Reserved Open: {{ class.reserved_open }}
    Waitlisted: {{ class.waitlisted }}</p>
    {% endfor %}
</body>
</html>
