<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>

<div id="icons">
<a id="facebook" href="https://www.facebook.com/occidental/"><img src="https://i.imgur.com/pEGutc5.png" height="50" width="'50"></a>
<a id="twitter" href="https://twitter.com/OxyNews?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="https://i.imgur.com/0L1vF0u.png" height="50" width="50"></a>
<a id="rateprofessor" href="http://www.ratemyprofessors.com/campusRatings.jsp?sid=719"><img src="https://i.imgur.com/qYoQwh2.png" height="24" width="178" ></a>
</div>

<div id="title">
<p>Occidental College</p>
<p>Course Counts</p>
</div>

<div id="drop-down">

    <p>Please choose a year.</p>
    <form method="get" action="/year_season">
    <select name="year" id="year">
    <option>Select...</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    </select>

<p>Please choose a season.</p>
    <select name="season" id="season">
    <option>Select...</option>
    <option value="fall">Fall</option>
    <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    </select>

<p>Please choose an instructor.</p>
    <select name="instructor" id="instructor">
    <option>Select...</option>
    {% for instructor in list_of_instructor %}
    <option value="{{ instructor }}" >{{ instructor }}</option>
    {% endfor %}
    </select>

<p>Please choose a department.</p>
    <select name="department" id="department">
    <option>Select...</option>
    {% for department in list_of_dept %}
    <option value="{{ department }}" >{{ department }}</option>
    {% endfor %}
    </select>

<p>Please choose a core requirement.</p>
    <select name="core" id="core">
    <option>Select...</option>
    {% for core in list_of_core %}
    <option value="{{ core }}" >{{ core }}</option>
    {% endfor %}
    </select>
        <br><br>
<input type="checkbox" class="checkbox" name="open_only" id="open_only" value="yes" /> Only show courses with open seats<br/>
<p id="button"><input class="button" type="submit" value="Search" /></p>

</form>
</div>

<a id="oxylogo" href="/secret_page"><img src="https://i.imgur.com/d90Ab0P.png"></a>

</body>
</html>

